.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

pubspec.lock
.iml
**/.idea/*
.metadata
*.iml
analysis_options.yaml
/example/android/
/example/ios/
/doc/